#!/bin/bash
# config.cfg: configuration for borderlands-tools

### Script configuration

  # default: percentage to use if none specified (such as at startup)
  default=40
  # interval: number of percentage points to increment/decrement
  interval=10
  # wrap: if true, going above 100 loops back to 0, and vice versa
  wrap=false # NOT YET IMPLEMENTED.

### Load local settings and override these with those ...
source $(dirname 0)/local.cfg


















